<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SecondaryColor</key>
	<dict>
		<key>red</key>
		<integer>141</integer>
		<key>green</key>
		<integer>140</integer>
		<key>blue</key>
		<integer>147</integer>
	</dict>
	<key>PrimaryColor</key>
	<dict>
		<key>red</key>
		<integer>3</integer>
		<key>green</key>
		<integer>172</integer>
		<key>blue</key>
		<integer>193</integer>
	</dict>
	<key>PublissBlue</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>161</integer>
		<key>blue</key>
		<integer>231</integer>
	</dict>
	<key>CoverBadgeColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>106</integer>
		<key>blue</key>
		<integer>255</integer>
	</dict>
	<key>FontColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
	</dict>
	<key>MenuIconColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
	</dict>
</dict>
</plist>
